.gallery{
  justify-content: center; 
  display: grid;
  grid-gap: 5em;
  padding: 3em;
  grid-template-columns: repeat(auto-fill, minmax(2vw, 20vw));

}
img{
    width: 20vw;
    

}
.head{
    transform: rotate(5deg);
    width: 20vw;
    margin-left: 40%;
    animation-name: headache;
    animation-duration: 2s;
}

@keyframes headache{
    0%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    80%{transform: rotate(7deg);}
   100%{transform: rotate(5deg);}
}


.me{ 
    width:15vw;
    margin-left:10vw;
}
.contact{
    width:15vw;
    margin-left:20.5vw;
}

.work{
    width:15vw;
    margin-left: 15vw;
}

.picture{
    /*border:1rem solid white;*/
    position: relative;
    z-index: 1;
}

.picture:hover{
    
    animation-name: hovergallery;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 2;
    transition: 0.3s linear;
    width:25vw; margin-left: -2.5vw; margin-top: -2.5vw;
    
}

/*@keyframes hovergallery{
    100%{width:30vw; margin-left: -5vw; margin-top: -5vw;}
}
