.pic{
    width:100vw;
    
}

.head{
    transform: rotate(5deg);
    width: 11vw;
    margin-left: 44%;
    margin-top:1%;
    margin-bottom:5%;
    animation-name: headache;
    animation-duration: 2s;
}

.me{ 
    height:2.5vw;
    margin-left:8vw;
}
.contact{
    height:2.5vw;
    margin-left:20.5vw;
}

.work{
     height:2.5vw;
    margin-left: 16vw;
}

@keyframes headache{
    0%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    80%{transform: rotate(7deg);}
   100%{transform: rotate(5deg);}
}

.pic{
    margin-top: 5vh;
}

.me:hover{
    opacity: 60%;
    transition: 0.2s linear;
}
.work:hover{
    opacity: 60%;
    transition: 0.2s linear;
}
.contact:hover{
    opacity: 60%;
    transition: 0.2s linear;
}
.head:hover{
    animation-name: headache;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

body{
    background-color:rgba(0, 0, 0, 0.045);
}