/* body{
    background-color: mediumslateblue;
}*/
.my-head{
     width: 30vw;
     position:fixed;
     top:60vh;
     left:70%;
     transform: rotate(5deg);
    animation-name: headache;
    animation-duration: 2s;
}



@keyframes headache{
     0%{transform: rotate(5deg);}
     50%{transform: rotate(-5deg);}
     80%{transform: rotate(7deg);}
    100%{transform: rotate(5deg);}
}

h1{
color:rgb(227, 227, 235);
font-size: 2vw;}


#about{
    width:20vw;
    margin-top:5vh;
    margin-left: 3rem;
    
}

.name {
    width:45vw;
    transform:translateX(-5%);
    margin-top: 20vh;
}

#about:hover{
    opacity: 60%;
    transition: 0.2s linear;
}